<!DOCTYPE html>
<html lang="en">
<head>
      <%- include ('../partials/p_head.ejs') %>
      <title>NBA Players</title>
</head>
<body>
      <h1>All NBA Players</h1>
      <div class="players">
            <table class="table table-striped table-dark" id="playerstable" >
            <thead>
                  <tr>
                        <th scope="col"></th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Add to Favorite Players</th>
                  </tr>
            </thead>
            <% for (let i=0; i<players.length; i++) { %>
            <tbody>
                  <tr>
                        <th scope="row"></th>
                        <td><%= players[i].first_name %></td> 
                        <td><%= players[i].last_name %></td>
                        <td><%= players[i].position %></td>
                        <td><form action="/player" method="POST">
                              <input type="hidden" name="first_name" value=<%= players[i].first_name%>>
                              <input type="hidden" name="last_name" value=<%= players[i].last_name%>>
                              <input type="hidden" name="position" value=<%= players[i].position%>>
                              <input class="addtofavbutton" type="submit" value="Add To Favorites"></form></td>
                  </tr>
                  
            </tbody>
            <% } %>  
            </table>
      </div>
</body>
</html>